* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 65.2%;
}

body {
  font-size: 1.6rem;
}

.remove-btn {
  margin-right: 0.5rem;
}

.shopping-list-item {
  color: 1;
  opacity: 0;
}
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: 0.5s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: 0.5s ease-out;
}
