.item-model-container {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.item-model-box {
  min-width: 300px;
  min-height: 140px;
  color: #000;
  background-color: #fff;
  position: absolute;
  border-radius: 0.5rem;
  top: 15%;
  left: 50%;

  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.item-model-box > div {
  padding: 1rem;
}
.item-model-box .header {
  background-color: #171717;
  color: #f8edeb;
  font-weight: 500;
}

.item-model-box .content {
}

.item-model-box .content input[type='text'] {
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 1px solid #0096c7;
  padding: 2px;
  margin: 1px;
}

.item-model-box .content button {
  border: 1px solid #caf0f8;
  outline: none;
  padding: 0.1rem;
  min-width: 8rem;
  margin: 0.3rem;
  background-color: #caf0f8;
  color: #fff;
  border-radius: 5px;
}

.item-model-box .content button:hover {
  background-color: #0077b6;
  transition: 1s;
}
